{% extends 'base.html' %}
{% block header %}
    <title>中间件</title>
    <style type="text/css">
	.form-group { overflow: hidden; }
	a.disabled, a.disabled:hover, a.disabled:visited { cursor: not-allowed; color: #ccc !important; }
	</style>

{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active"><span>中间件服务</span></li>
		</ol>
		<h1>服务管理</h1>

	<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
			</header>

		<div class="main-box-body clearfix">
				<div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead>
							<tr>
								<th><span>ID</span></th>
								<th><span>用户</span></th>
								<th><span>名称</span></th>
								<th><span>描述</span></th>
                                <th><span>作者</span></th>
                                <th><span>时间</span></th>
								<th><span>状态</span></th>
							</tr>
						</thead>
						<tbody>
							{% for item in all_info %}
							<tr>
								<td>{{ item.id }}</td>
								<td>{{ item.user }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.desc }}</td>
                                <td>{{ item.author }}</td>
                                <td>{{ item.create_time }}</td>
                                <td>{{ item.status }}</td>
								<td>
                                    {% if item.status == 'in-review' %}
                                    <a href="/murano/package_review?action=accept&id={{ item.id }}" class="btn btn-success dropdown-toggle">通过</a>
                                    <a href="/murano/package_review?action=reject&id={{ item.id }}" class="btn btn-warning dropdown-toggle">拒绝</a>
                                    {% endif %}
                                    {% if item.status == 'approved' or item.status == 'unpublished' %}
                                        <a href="/murano/package_review?action=published&id={{ item.id }}" class="btn btn-info dropdown-toggle">发布</a>
                                    {% endif %}
                                    {% if item.status != 'published' %}
                                        <a href="/murano/package_review?action=delete&id={{ item.id }}" class="btn btn-danger dropdown-toggle">删除</a>
                                    {% endif %}
                                    {% if item.status == 'published' %}
                                        <a href="/murano/package_review?action=unpublished&id={{ item.id }}" class="btn btn-warning dropdown-toggle">取消发布</a>
                                    {% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>

{% endblock %}