{% extends 'base.html' %}
{% block header %}
    <title>Murano</title>
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active"><span>中间件服务</span></li>
		</ol>
		<h1>中间件服务</h1>


	<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
                                <!--create package start -->
                {% if show == 1 %}
{#                <button type="button" style="float:right" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
{#                  导入应用包#}
{#                </button>#}
                {% endif %}
                {% if show == 2 %}
                <button type="button" style="float:right" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  部署组合环境
                </button>
                {% endif %}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">导入应用包</h4>
                      </div>
                      <div class="modal-body">
                        <form action="/murano/upload_package" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="package"/>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                               <button type="submit" class="btn btn-primary" onclick="this.form.submit()">创建</button>
                              </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--create package end -->
			</header>

		<div class="main-box-body clearfix">
				<div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead>
							<tr>
                                <th><span>编号</span></th>
								<th><span>名称</span></th>
								<th><span>描述</span></th>
                                {% if current_role != 'Publisher'  %}
								<th><span>操作</span></th>
                                {% else %}
                                <th><span>状态</span></th>
                                {% endif %}
							</tr>
						</thead>
						<tbody>
                            {% for item in packages_info %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>
                                        <!-- action start -->
                                        <!-- Single button -->
                                        <div class="btn-group">
                                          {% if show == 1 %}
                                              {% if current_role == 'User'  %}
                                                <button data-toggle="modal"
                                                        {% if item.name == 'Apache HTTP Server'  %}
                                                        data-target="#apache"
                                                        {% endif %}
                                                type="button" class="btn btn-success dropdown-toggle">快速部署</button>
                                              {% else %}
{#                                                 <button href="#" class="btn btn-default dropdown-toggle">已发布</button>#}
                                              {% endif %}
                                           {% endif %}
{#                      form defined start                 #}
					<div class="modal fade" id="apache" tabindex="-1" role="dialog" aria-labelledby="myapache">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myapache">配置:Apache HTTP Server</h4>
					      </div>
					      <div class="modal-body">
					        <form action="/murano/quick_deploy?service=apache" method="post">
                                {% csrf_token %}
<!-- 							form start -->
{#                                apache start#}
      <label class="control-label  " for="197d683744184180b0be907919a481f9_1-flavor">实例类型</label>
  <div class=" ">

        <select class="form-control" id="197d683744184180b0be907919a481f9_1-flavor" name="1-flavor" placeholder="Optional" data-original-title="" title="">
<option value="m1.tiny">m1.tiny</option>
<option value="m1.small">m1.small</option>
<option value="m1.medium" selected="selected">m1.medium</option>
<option value="m1.large">m1.large</option>
<option value="m1.nano">m1.nano</option>
<option value="m1.heat">m1.heat</option>
<option value="m1.xlarge">m1.xlarge</option>
<option value="m1.micro">m1.micro</option>
</select>

  </div>


      <label class="control-label  required" for="197d683744184180b0be907919a481f9_1-osImage">实例镜像</label>

        <select class="form-control" id="197d683744184180b0be907919a481f9_1-osImage" name="1-osImage">
<option value="" selected="selected">选择镜像</option>
<option value="915769cd-fcd6-40cb-bf4c-74535899361f">Debian 8 x64 (pre-installed murano-agent)</option>
<option value="aec79765-c447-4f12-b553-f43cd563edf2">Ubuntu 14.04 x64 (pre-installed murano-agent)</option>
<option value="036ef226-1f7f-42d3-a587-792f327468c9">debian</option>
<option value="352447c1-2b86-46bd-a1ad-38fd7f9af325">ubuntu</option>
</select>


<div class="form-group ">
      <label class="control-label  " for="197d683744184180b0be907919a481f9_1-availabilityZone">可用区</label>
    <div class=" ">
     <select class="form-control" id="197d683744184180b0be907919a481f9_1-availabilityZone" name="1-availabilityZone" placeholder="Optional">
<option value="nova">nova</option>
</select>
    </div>
</div>
<div class="form-group ">
      <label class="control-label  " for="197d683744184180b0be907919a481f9_1-unitNamingPattern">实例命名规则</label>
        <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Just letters, numbers, underscores and hyphens are allowed."><span class="fa fa-question-circle"></span></span>
    <div class=" ">
        <input class="form-control" id="197d683744184180b0be907919a481f9_1-unitNamingPattern" maxlength="64" name="1-unitNamingPattern" placeholder="Optional" type="text">

    </div>

</div>
<div class="">
  <div class="checkbox">

          <label>
            <input class="checkbox" id="197d683744184180b0be907919a481f9_0-assignFloatingIP" name="0-assignFloatingIP" placeholder="Optional" type="checkbox">
            <span>分配浮动IP</span>

          </label>

      </div>
</div>
{#                                apache end#}
<!-- 							form end -->
					  			 <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							       <button type="submit" class="btn btn-primary" onclick="this.form.submit()">创建</button>
					           </div>
							</form>
					      </div>

					    </div>
					  </div>
					</div>
					<!--apache end -->
{#                        form defined end                #}
                                           {% if show == 2 %}
                                               {% if item.name in env_has_packages %}
                                                   <button href="#" class="btn btn-default dropdown-toggle" Style="width:80px">移除</button>
                                               {% else %}
                                                    <button href="#" class="btn btn-default dropdown-toggle" Style="width:80px">添加</button>
                                               {% endif %}
                                            {% endif %}
                                        </div>
                                        <!-- action end -->
                                    </td>
							    </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>

{% endblock %}