{% extends 'base.html' %}
{% block header %}
    <title>中间件</title>
    <style type="text/css">
	.form-group { overflow: hidden; }
	a.disabled, a.disabled:hover, a.disabled:visited { cursor: not-allowed; color: #ccc !important; }
	</style>

{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active"><span>中间件服务</span></li>
		</ol>
		<h1>我的环境</h1>

	<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
					<!--create env start -->
					<button type="button" style="float:right" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  创建组合环境
					</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">创建我的组合环境</h4>
					      </div>
					      <div class="modal-body">
					        <form action="/murano/envaction/" method="post">
                                {% csrf_token %}
					  			<p>名称: <input type="text" class="form-control" name="env_name" /></p>
					  			<input type="text" style="display:none" name="action" value="create">
{#					  			{#<input type="text" style="display:none" name="new_name" value="no_use">#}
					  			 <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							       <button type="submit" class="btn btn-primary" onclick="this.form.submit()">创建</button>
					           </div>
							</form>
					      </div>

					    </div>
					  </div>
					</div>
					<!--create env end -->
			</header>

		<div class="main-box-body clearfix">
				<div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead>
							<tr>
								<th><span>编号</span></th>
								<th><span>名称</span></th>
								<th><span>状态</span></th>
{#								<th><span>tenant_id</span></th>#}
								<th><span>操作</span></th>
							</tr>
						</thead>
						<tbody>
							{% for item in environments_info %}
							<tr>
								<td>{{ item.id }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.status }}</td>
{#								<td>{{ item.tenant_id }}</td>#}
								<td>
                                    <a class="btn btn-primary dropdown-toggle" href="/murano/managecomponents?env_rid={{ item.rid }}">管理环境组件</a>
                                    <a class="btn btn-info" href="/murano/envaction?env_rid={{ item.rid }}&action=deploy">部署</a>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#{{ item.rid }}">编辑环境名称</button>
                                    <a class="btn btn-danger" href="/murano/envaction?env_rid={{ item.rid }}&action=delete">删除</a>
								</td>
                                          <!--  env edit zhezhaocheng  start-->
                                    <div class="modal fade" id="{{ item.rid }}" tabindex="-1" role="dialog" aria-labelledby="my{{ item.rid }}">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myM{{ item.rid }}">编辑环境名称</h4>
                                          </div>
                                          <div class="modal-body">
                                            <form action="/murano/envaction/" method="post">
                                                {% csrf_token %}
                                                <p>新名称: <input type="text" class="form-control" name="new_name" /></p>
                                                <input type="text" style="display:none" name="action" value="update">
                                                <input type="text" style="display:none" name="env_rid" value="{{ item.rid }}">
                                                 <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                   <button type="submit" class="btn btn-primary" onclick="this.form.submit()">更新</button>
                                               </div>
                                            </form>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  <!--  env edit zhezhaocheng end -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>

{% endblock %}