{% extends 'base.html' %}
{% block header %}
    <title>Murano</title>
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/">首页</a></li>
			<li class="active"><span>中间件服务</span></li>
		</ol>
		<h1>虚拟机实例</h1>


	<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
			</header>

		<div class="main-box-body clearfix">
				<div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead>
							<tr>
                                <th><span>编号</span></th>
								<th><span>名称</span></th>
								<th><span>实例类型</span></th>
								<th><span>ip</span></th>
								<th><span>状态</span></th>
							</tr>
						</thead>
						<tbody>
                            {% for item in instances_info %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>
                                        <li>{{ item.fixed_ip }}</li>
                                        <li>{{ item.floating_ip }}</li>
                                    </td>
                                    <td>{{ item.status }}</td>
							    </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>

{% endblock %}